@section Head
{
    <meta charset="utf-8">
    <title>Phantom | Personal Resume Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="~/css/themefisher-fonts.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/dark.css">
    <link id="color-changer" rel="stylesheet" href="~/css/colors/color-0.css">
}

<body class="dark">
    <main class="site-wrapper">
        <div class="pt-table">
            <div>
                <!-- .close -->
                <a href="./" class="page-close"><i class="tf-ion-close"></i></a>
                <!-- /.close -->

                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                            <div class="page-title text-center">
                                <h2>Anket <span class="primary">Oluştur</span> <span class="title-bg">Resume</span></h2>
                                <p>Bakalım Arkadaşların Seni Ne Kadar Tanıyor?</p>
                            </div>
                        </div>
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
                <div class="container mt-5"> <!-- /.Question -->
                    <div class="d-flex justify-content-center row">
                        <div class="col-md-10 col-lg-10">
                            <div class="border">
                                <div class="question bg-white p-3 border-bottom">
                                    <div class="d-flex flex-row justify-content-between align-items-center mcq">
                                        <h4>MCQ Quiz</h4><span>(5 of 20)</span>
                                    </div>
                                </div>
                                <div class="question bg-white p-3 border-bottom">
                                    <div class="d-flex flex-row align-items-center question-title">
                                        <h3 class="text-danger">Q.</h3>
                                        <h5 class="mt-1 ml-2">Which of the following country has largest population?</h5>
                                    </div>
                                    <div class="ans ml-2">
                                        <label class="radio">
                                            <input type="radio" name="brazil" value="brazil"> <span>Brazil</span>
                                        </label>
                                    </div>
                                    <div class="ans ml-2">
                                        <label class="radio">
                                            <input type="radio" name="Germany" value="Germany"> <span>Germany</span>
                                        </label>
                                    </div>
                                    <div class="ans ml-2">
                                        <label class="radio">
                                            <input type="radio" name="Indonesia" value="Indonesia"> <span>Indonesia</span>
                                        </label>
                                    </div>
                                    <div class="ans ml-2">
                                        <label class="radio">
                                            <input type="radio" name="Russia" value="Russia"> <span>Russia</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-danger" type="button"><i class="fa fa-angle-left mt-1 mr-3"></i>&nbsp;previous</button><button class="btn btn-primary border-success align-items-center btn-success" type="button">Next<i class="fa fa-angle-right ml-2"></i></button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="page-nav clear">
                    <div class="container">
                        <div class="flex flex-middle space-between">
                            <span class="prev-page"><a href="/Home/Home" class="link">&larr; Öceki Sayfa</a></span>
                            <span class="copyright hidden-xs">Copyright &copy; 2021 Mehmet Küpeli</span>
                            <span class="next-page"><a href="/Home/About" class="link">Sonraki Sayfa &rarr;</a></span>
                        </div>
                    </div>
                    <!-- /.page-nav -->
                </nav>
                <!-- /.container -->

            </div> <!-- /.pt-tablecell -->
        </div> <!-- /.pt-table -->
    </main>
</body>
@section Scripts
{
    <script src="~/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/jquery.nicescroll.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery-validation.min.js"></script>
    <script src="~/js/form.min.js"></script>
    <script src="~/js/main.js"></script>
}