@{
    Layout = null;
}
<html lang="tr" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Giriş Form</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <form class="box" action="index.html" method="post">
        <h1>Giriş Yap</h1>
        <input type="text" name="" placeholder="Kullanıcı Adı">
        <input type="password" name="" placeholder="Şifre">
        <input type="submit" value="Giriş yap">
    </form>
</body>
</html>
